receivers:
  filelog:
    include:
    - /opt/openresty/nginx/logs/access.log
    - /opt/openresty/nginx/logs/error.log

exporters:
  debug:
    verbosity: detailed

service:
  pipelines:
    logs:
      receivers: [filelog]
      exporters: [debug]
